In [1]:
import sqlite3
import pandas as pd
import wget
import os

In [2]:
url = 'https://hitchmap.com/dump.sqlite'
filename = 'dump.sqlite'
if os.path.exists(filename):
        os.remove(filename)
filename = wget.download(url)

In [3]:
conn = sqlite3.connect('dump.sqlite')
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

            name
0         points
1     duplicates
2  service_areas
3   road_islands
4           user
5    roles_users

# Points

In [4]:
points = pd.read_sql('select * from points', sqlite3.connect(filename))

In [5]:
points

,id,lat,lon,rating,country,wait,nickname,comment,datetime,reviewed,banned,ip,dest_lat,dest_lon,signal,ride_datetime,user_id,from_hitchwiki
0,0,40.974714,27.511654,3.0,TR,NaN,Tamergem,"If you avoid the mini busses, you can get on a...",2011-05-26 10:06:17.000000,1,0,,NaN,NaN,None,None,NaN,1.0
1,1,32.072756,34.793444,4.0,IL,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN
2,2,41.727928,27.220731,4.0,TR,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN
3,3,41.099858,29.007339,3.0,TR,NaN,Xavierallard,There is a lot of traffic there and little spa...,2011-03-15 12:52:11.000000,1,0,,NaN,NaN,None,None,NaN,1.0
4,4,30.169989,66.999612,3.0,PK,NaN,None,None,None,1,0,,NaN,NaN,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62654,9220231788076123881,42.666711,2.858773,5.0,FR,5.0,Aneta,We got ride directly to Figueres very quickly!,2024-08-26 22:47:56.413350,0,0,,42.266389,2.961666,sign,None,NaN,0.0
62655,9220765971695777887,42.157515,21.728037,4.0,MK,25.0,None,"Cars are going fast, but after some time someo...",2025-04-29 07:12:28.998935,0,0,,42.148514,21.997463,thumb,2025-04-25T15:00,32.0,NaN
62656,9221080452661861354,58.966135,16.195328,1.0,SE,NaN,None,"Little traffic, if you come from exploring Dju...",2025-05-07 09:16:23.947211,0,0,,NaN,NaN,None,None,63.0,NaN
62657,9221986451465595543,7.637025,-81.248750,2.0,PA,50.0,None,Not many cars going out of Santa Catalina. Man...,2025-02-28 02:22:27.417963,0,0,,7.995511,-81.309053,None,None,139.0,NaN
62658,9222326200104886148,41.930878,25.605655,5.0,BG,25.0,kyliann,Great spot for the border!,2024-12-09 19:36:11.527270,0,0,,41.718287,26.342468,None,,NaN,0.0

# Duplicate Reports

In [6]:
duplicates = pd.read_sql('select * from duplicates', sqlite3.connect(filename))

In [7]:
duplicates

,id,from_lat,from_lon,to_lat,to_lon,accepted,reviewed,ip,datetime
0,1,51.404352,5.538128,51.404547,5.537270,0,0,,2024-06-04 12:50:01.864103
1,2,51.404627,5.542442,51.404547,5.537270,0,0,,2024-06-04 12:50:53.136541
2,3,52.302417,13.019185,52.302168,13.019915,0,0,,2024-06-04 13:28:37.130403
3,4,52.302286,13.019443,52.302168,13.019915,0,0,,2024-06-04 13:29:43.554062
4,5,52.301984,13.020387,52.302168,13.019915,0,0,,2024-06-04 13:30:04.085706
...,...,...,...,...,...,...,...,...,...
263,264,52.015139,5.649462,52.015421,5.649698,0,0,,2024-10-20 07:34:11.520366
264,265,41.927857,19.231782,41.927861,19.231265,0,0,,2024-11-26 16:45:07.013466
265,266,47.116320,-118.364425,47.117915,-118.363502,0,0,,2024-12-21 10:42:25.490480
266,267,58.906938,6.854584,60.472823,6.837174,0,0,,2025-01-09 16:01:23.433335
267,268,55.960946,-3.308711,55.961981,-3.313880,0,0,,2025-02-05 02:50:52.051449